* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2b2b2b;
    transition: 0.5s;
}

#toggle {
    position: relative;display: block;
}