* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2b2b2b;
    /* transition: 0.5s; */
}

#toggle {
    position: relative;
    display: block;
    width: 320px;
    height: 160px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), 
    inset 0 8px 60px rgba(0, 0, 0, 0.1), ;
}